@import "tailwindcss";



@keyframes cartPop {
  from {
    opacity: 0;
    transform: translateY(-10px) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

.animate-cart-popup {
  animation: cartPop 0.3s ease-out;
}
