body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4c38b;
}


.navbar {
    display: flex;
    justify-content: start;
    justify-content: space-between;
    align-items: center;
    background-color:  #e8a75d;
    padding: 15px 30px;
}

.logo {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

nav a {
    margin-left: 15px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 6px 12px;
    background-color: white;
}

nav a:hover {
    background-color: #ddd;
}


.page {
    display: none;
    padding: 40px;
    text-align: center;
}


#welcome {
    display: block;
}


.page:target {
    display: block;
}


.profile-card {
    margin-top: 30px;
    background-color: #f4c38b;
    padding: 30px;
    display: inline-flex;
    gap: 30px;
    align-items: center;
}

.image {
    
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.info p {
    text-align: left;
}
