.container {
  padding: 40px;
  font-family: Arial, sans-serif;
  background-color: orange;
  min-height: 100vh;
}

.title {
  text-align: center;
  margin-bottom: 30px;
  color: white;
}

.center {
  text-align: center;
  color: white;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  background: white;
  width: 260px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card h3 {
  margin-bottom: 10px;
}

.card p {
  margin: 5px 0;
}

button {
  margin-top: 12px;
  padding: 12px 18px;
  border: 3px solid darkgreen;
  border-radius: 6px;
  cursor: pointer;
  background-color: green;
  color: white;
  font-weight: bold;
  font-size: 15px;
  width: 100%;
}

button:hover {
  background-color: darkgreen;
}

button:disabled {
  background-color: gray;
  border: 3px solid gray;
  cursor: not-allowed;
}

.message {
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
  color: white;
}

.error {
  color: black;
}

.enrolled-section {
  margin-top: 40px;
  text-align: center;
  color: white;
}