.footer {
  background: #020617;
  padding: 60px 80px 20px;
  border-top: 1px solid #facc15;
  box-shadow: 0 -2px 20px rgba(250, 204, 21, 0.15);
}


.footer-container {
  max-width: 1100px;
  margin: auto;
  padding: 0 20px 40px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

/* BRAND */
.footer-brand h2 {
  color: #facc15;
  margin-bottom: 12px;
}

.footer-brand p {
  font-size: 14px;
  color: #94a3b8;
}

/* LINKS */
.footer-links h4,
.footer-social h4 {
  color: #facc15;
  margin-bottom: 12px;
}

.footer-links a {
  display: block;
  color: #cbd5e1;
  text-decoration: none;
  margin-bottom: 8px;
  transition: 0.3s;
}

.footer-links a:hover {
  color: #facc15;
  transform: translateX(5px);
}

/* SOCIAL */
.social-icons {
  display: flex;
  gap: 16px;
  font-size: 20px;
  color: #cbd5e1;
  cursor: pointer;
}

.social-icons svg:hover {
  color: #facc15;
  transform: scale(1.2);
  transition: 0.3s;
}

/* BOTTOM */
.footer-bottom {
  text-align: center;
  padding: 20px;
  border-top: 1px solid #1e293b;
  font-size: 13px;
  color: #64748b;
}

/* MOBILE  */
@media (max-width: 768px) {

  .footer-container {
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }

  .social-icons {
    justify-content: center;
  }
}
