@import "tailwindcss";

body {
  @apply bg-gradient-to-br from-indigo-900 via-purple-800 to-pink-700 text-white min-h-screen;
}

@keyframes fadeIn {
  from { opacity: 0 }
  to { opacity: 1 }
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-in-out;
}
